# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc
*.pyo

# Virtual Environments
venv/
env/
.venv/

# Streamlit Local Cache
.streamlit/

# Firebase & Database Files
firebase_key.json
*.db
